<!-- {% extends 'main.html' %} -->

{% block content%}

<link href="login.css" rel="stylesheet">

<div class="body">
  <form method="POST" action="">
    {% csrf_token %}

    <div class="info">
      <label>Username:</label>
      
      <input type="text" name="username" placeholder="Enter Username" />
   


    <label>Password:</label>
    
    <input type="password" name="password" placeholder="Enter Password" />

    
    <input type="submit" name="Login"/>
    </div>

  </form>
</div>


{% endblock content %}